.square {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.game {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.status {
    margin-bottom: 10px;
    font-weight: bold;
}